#inputImage, #inputNoneBox {
    cursor: pointer;
    transition-duration: 200ms;
}

#inputImage:hover {
    filter: brightness(120%);
}

#inputNoneBox:hover {
    filter: brightness(105%);
}

.sectionDelimiter {
    border-width: 2px;
}

.metric {
    font-size: 1.5em;
}

.imageNone {
    width: 100%;
    min-height: 160px;
    background-color: lightgray;
}